activations==0.1.0
binpacking==1.5.2
deepspeed==0.16.4
django_cache_utils==0.7.2
flash_attn==2.7.4.post1
image_utils==0.1.6
lmdeploy==0.8.0
matplotlib==3.10.3
modelscope==1.23.2
ms_swift==3.1.0
numpy==1.24.4
peft==0.14.0
Pillow==11.2.1
qwen_vl_utils==0.0.11
safetensors==0.5.3
scipy==1.15.3
torch==2.6.0+cu118
tqdm==4.67.1
transformers==4.49.0
